//- index.pug
extends ../../layouts/layout

block html_title
    | Aerolineas Argentinas - Capacitación Técnica

block content

    +section__header__services

    section.services__above-the-fold
        img(src=`${hostname}/assets/images/capacitacionTecnicaHead.jpg`, alt="Capacitación Técnica Aerolineas Argentinas")
        
    section.services__title
        .container-lg
            .row
                .col-12
                    p Servicios
    
    section.services__nav--first.d-flex.d-lg-none
        .container-fluid
            .row
                .col-12.d-flex.justify-content-between.align-items-center
                    a(href=`${hostname}/app/servicios/motores.html`, target="_self", rel="noopener noreferrer" title="Motores")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="32", height="32")
                            path(d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="rgba(0,33,87,1)")
                    h1 Capacitación Técnica
                    a(href=`${hostname}/app/servicios/componentes.html`, target="_self", rel="noopener noreferrer" title="Componentes")
                        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="32", height="32")
                            path(d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(0,33,87,1)")


    section.container-lg.pt-4
        .row
            .col-12
                div
                    h2.d-none.d-lg-inline-flex Capacitación Técnica
                    p.mb-3 Contamos con un 
                        b centro de formación e instrucción técnica certificado por RAAC Parte 147, 
                        | con extensas capacidades de entrenamiento: 
                        b 7 aulas computarizadas, 4 simuladores hidráulicos y 3 estáticos, auditorio con capacidad para +120 personas 
                        | y un destacado equipo docente conformado por 
                        b instructores certificados ante los principales organismos regulatorios nacionales e internacionales, 
                        | como así también reconocidos OEMs.

    section.container-lg
        .row
            .col-12.col-lg-6
                h3 Entrenamiento Técnico:
                ul.services__list
                    li Teórico, práctico y Formación en el Trabajo (OJT)
                h3 Programas de formación Niveles 1 a 5 bajo lineamiento ATA 104:
                ul.services__list
                    li Boeing B737 NG/ MAX/ CLASSIC/ serie 200
                    li Airbus A330 Family
                    li Embraer E190
                h3 Entrenamiento Especializado:
                ul.services__list
                    li Puesta en marcha de motores 
                    li Mantenimiento motores (CFM56-7B/ LEAP-1B/ GE CF6/ CF34)
                    li Entrenamiento en NDT y boroscopía
                    li Operación en tiempo frío
                    li ETOPS
                    li Transición de Aeronaves
                    li Radioperador restringido (ORR)
                    li APU
                    li Trenes de aterrizaje
            .col-12.col-lg-6.services__img
                img.mb-2(src=`${hostname}/assets/images/capacitacionTecnicaBody1.jpg`, alt="Capacitación Técnica Aerolineas Argentinas")
                .d-flex.flex-row
                    img.me-1(src=`${hostname}/assets/images/capacitacionTecnicaBody2.jpg`, alt="Capacitación Técnica Aerolineas Argentinas")
                    img.ms-1(src=`${hostname}/assets/images/capacitacionTecnicaBody3.jpg`, alt="Capacitación Técnica Aerolineas Argentinas")

    section.services__nav--last.d-none.d-lg-flex
        .container
            .row
                .col-12
                    nav.nav
                        a.nav-link(href=`${hostname}/app/servicios/aeronaves.html`, target="_self", rel="noopener noreferrer", title="Aeronaves") Aeronaves
                        a.nav-link(href=`${hostname}/app/servicios/motores.html`, target="_self", rel="noopener noreferrer", title="Motores") Motores
                        a.nav-link.active(aria-current="page", href=`${hostname}/app/servicios/capacitacion-tecnica.html`, target="_self", rel="noopener noreferrer", title="Capacitación Técnica") Capacitación Técnica
                        a.nav-link(href=`${hostname}/app/servicios/componentes.html`, target="_self", rel="noopener noreferrer", title="Componentes") Componentes
                        a.nav-link(href=`${hostname}/app/servicios/aeronavegabilidad-continuada.html`, target="_self", rel="noopener noreferrer", title="Aeronavegabilidad Continuada") Aeronavegabilidad Continuada

    +section__footer__services