//- index.pug
extends ../../layouts/layout

block html_title
    | Aerolineas Argentinas

block content

    +section__header

    .fullpage-wrapper(id="fullpage")
    
        section.section(data-anchor="section0")
            .slide.active(id="slide1", data-anchor="slide1")
                .container-lg
                    .row
                        .col-12.offset-lg-7.col-lg-4.offset-xl-8
                            h1 Nuestro taller de motores
                            hr
                            p.mb-0 Contamos con 20 talleres de mantenimiento de componentes en ambas bases de operación con capacidad para el testeo, reparación y overhaul en más de 8900 P/Ns.
            .slide(id="slide2", data-anchor="slide2")
                .container-lg
                    .row
                        .col-12.offset-lg-7.col-lg-4.offset-xl-8
                            img.d-flex.ms-0.ms-lg-auto(src=`${hostname}/assets/images/logo_MRO.png`, alt="MRO Latinoamérica 2023", height="128")
                            hr
                            p.mb-0 Como parte del plan estratégico para el desarrollo de nuestra organización de mantenimiento e ingeniería, Aerolíneas Argentinas Técnica participará como Host Sponsor del MRO Latinoamérica 2023.

        section.section(data-anchor="section1")
            .container-lg
                .row
                    .col-12
                        h2.d-inline-flex ¿Quiénes somos?
                        p.mb-4 Somos un 
                            b centro de mantenimiento con mas de 70 años en la industria, 
                            | con el objetivo de consolidarnos como líder en servicios aeronáuticos de Latinoamérica. Contamos con 
                            b 2300 profesionales de gran experiencia, 
                            | ofreciendo nuestros servicios a la flota del Grupo Aerolíneas y la industria aérea bajo los mayores estándares de seguridad, con una gestión integra, transparente, eficiente y sustentable.
                .row
                    .offset-0.col-12.offset-md-3.col-md-6.offset-lg-0.col-lg-4.text-center
                        img.img-fluid.me-auto.ms-auto(src=`${hostname}/assets/images/homeEscalasInternacionales.png`, alt="Escalas internacionales")
                        p.font-size-lg.mb-0
                            b 6
                        p.text-primary.mb-2.mb-lg-0 Escalas internacionales
                    .offset-0.col-12.offset-md-3.col-md-6.offset-lg-0.col-lg-4.text-center
                        img.img-fluid.me-auto.ms-auto(src=`${hostname}/assets/images/homeHangares.png`, alt="Hangares")
                        p.font-size-lg.mb-0
                            b 8
                        p.text-primary.mb-2.mb-lg-0 Hangares
                    .offset-0.col-12.offset-md-3.col-md-6.offset-lg-0.col-lg-4.text-center
                        img.img-fluid.me-auto.ms-auto(src=`${hostname}/assets/images/homeProfesionales.png`, alt="Profesionales")
                        p.font-size-lg.mb-0
                            b 2300
                        p.text-primary.mb-0 Profesionales

        section.section(data-anchor="section2")
            .container-lg
                .row
                    .col-12
                        h2.d-inline-flex Servicios
                .row.home__services
                    .col-11.col-lg-4.mb-2
                        a.home__services__link(href=`${hostname}/app/servicios/aeronaves.html`) 
                            img(src=`${hostname}/assets/images/homeAeronaves.png`, alt="Aeronaves")
                            h4 Aeronaves
                    .col-11.col-lg-4.mb-2
                        a.home__services__link(href=`${hostname}/app/servicios/motores.html`) 
                            img(src=`${hostname}/assets/images/homeMotores.png`, alt="Motores")
                            h4 Motores
                    .col-11.col-lg-4.mb-2
                        a.home__services__link(href=`${hostname}/app/servicios/capacitacion-tecnica.html`)
                            img(src=`${hostname}/assets/images/homeCapacitacionTecnica.png`, alt="Capacitación Técnica")
                            h4 Capacitación Técnica
                    .col-11.col-lg-4.mb-2.mb-lg-0
                        a.home__services__link(href=`${hostname}/app/servicios/componentes.html`) 
                            img(src=`${hostname}/assets/images/homeComponentes.png`, alt="Componentes")
                            h4 Componentes
                    .col-11.col-lg-4
                        a.home__services__link(href=`${hostname}/app/servicios/aeronavegabilidad-continuada.html`)
                            img(src=`${hostname}/assets/images/homeAeronavegabilidadContinuada.png`, alt="Aeronavegabilidad Continuada")
                            h4 Aeronavegabilidad Continuada

        section.section(data-anchor="section3")
            .container-lg
                .row
                    .col-12
                        h2.d-inline-flex Certificaciones
                    .col-12.col-lg-4.home__certifications.mb-3.mb-lg-0
                        h3 FAA
                        img(src=`${hostname}/assets/images/homeFAA-baja.png`, alt="FAA")
                        hr
                        p FAR Part 145 Foreign Certificated Repair Station (AISY117C)
                    .col-12.col-lg-4.home__certifications.mb-3.mb-lg-0
                        h3 ANAC
                        img(src=`${hostname}/assets/images/homeANAC-baja.png`, alt="ANAC")
                        hr
                        p RAAC Part 145 Certificated Aeronautical Workshop (1B-114)
                    .col-12.col-lg-4.home__certifications
                        h3 DIGAMC
                        img(src=`${hostname}/assets/images/homeDIGAMC-baja.png`, alt="DIGAMC")
                        hr
                        p Recognition Certificate for Defense Maintenance Organization under Military Regulation

        +section__footer